:root {
  --square-bg-white: white;
  --square-bg-black: #EEEEEE;
  --square-bg-move: #03A9F4;
  --square-bg-inHand: #FF9800;
  --square-size: 63px;
  --piece-size: 44px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--square-bg-black);
  border-color: var(--square-bg-black);
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  background-color: var(--square-bg-white);
  border-color: var(--square-bg-white);
}

td {
  width: var(--square-size);
  height: var(--square-size);
  font-size: var(--piece-size);
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
}

td.move {
  border-color: var(--square-bg-move) !important;
}

td.inHand {
  border-color: var(--square-bg-inHand) !important;
}

td.hover.interactable{
  border-color: green !important;
}

td.hover {
  border-color: red !important;
}

#el_textState {
  width: 463px;
}
