:root {
  --clr-square-white: white;
  --clr-square-black: #EEEEEE;
  --clr-potentialMove: #BA68C8;
  --clr-interactable: #FF9800;
  --clr-inHand: #2196F3;
  --clr-yes: #4CAF50;
  --clr-no: #F44336;
  --square-size: 80px;
  --piece-size: 54px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--clr-square-black);
  border-color: var(--clr-square-black);
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  background-color: var(--clr-square-white);
  border-color: var(--clr-square-white);
}

td {
  width: var(--square-size);
  height: var(--square-size);
  font-size: var(--piece-size);
  text-align: center;
  border-collapse: collapse;
  border: 3px solid;
  cursor: not-allowed;
}

td.potentialMove {
  border-color: var(--clr-potentialMove) !important;
}

td.interactable {
  cursor: pointer;
  border-color: var(--clr-interactable) !important;
}

td.inHand {
  border-color: var(--clr-inHand) !important;
}

td.interactable.hover {
  border-color: var(--clr-yes) !important;
}

td.hover {
  border-color: var(--clr-no) !important;
}

#el_textState {
  width: 630px;
}
